body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(242, 233, 226, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.1px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 600px;
  height: 460px;
  overflow: hidden;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
}

.picture {
  width: 50%;
  object-fit: cover;
}

.decsription {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.decsription__title {
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 30px;
  color: hsl(212, 21%, 14%);
}

.decsription__price {
  display: flex;
  font-family: 'Fraunces';
  align-items: center;
}

.decsription__price-now {
  font-size: 26px;
  color: rgba(61, 129, 104, 1);
  margin-right: 20px;
  font-weight: 700;
}

.decsription__price-old {
  text-decoration: line-through;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  background-color: rgba(61, 129, 104, 1);
  border-style: none;
  border-radius: 8px;
  font-weight: 700;
}

.button__icon {
  margin-right: 10px;
}

.button:hover {
  background-color: hsl(158, 37%, 28%);
}